@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

/* Hero Section */
.hero {
    position: relative;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.4); /* Black with 50% opacity */
    z-index: 0; /* Ensure it's above the video but behind any other content */
    opacity: 0.8; /* You can adjust this opacity */
}

@-webkit-keyframes gradientAnimation {
    0% { background-position: 0% 30%, 0 0; }
    50% { background-position: 100% 70%, 0 0; }
    100% { background-position: 0% 30%, 0 0; }
}

@keyframes gradientAnimation {
    0% { background-position: 0% 30%, 0 0; }
    50% { background-position: 100% 70%, 0 0; }
}

.h1 {
    position: relative;
    color: #fff;
    font: normal 600 72px/1 'Open Sans', sans-serif;
    white-space: nowrap;
    margin-top: 4rem;
}

.h1 img {
    width: 80%;
}


.h1 span{
    display: block;
    font-size: 40px;
    font-weight: bold !important;
    text-transform: uppercase;
    color: #ba9f67 !important;
    /* margin-top: 33rem; */
}

/* Navbar Styles */

.nav-item .nav-link {
    color: white !important; /* Adjust link color for visibility */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.nav-item .nav-link:hover {
    color: #f0d195 !important; /* Change color on hover */
}

.navbar .navbar-brand {
    color: white; /* Adjust brand color for visibility */
    font-weight: bold; /* Make brand text bold */
}

.navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Optional: adjust the toggler border color */
    background-color: #f0d195;
}
.navbar-toggler-icon{
    color: #f0d195 !important;
}
/* .navbar-collapse{
    text-align: center;
} */

/* Responsive Styles */
@media (max-width: 768px) {
    .h1 {
        font-size: 36px; /* Reduce font size for smaller screens */
    }
    
    .h1 span {
        font-size: 24px; /* Adjust span font size */
    }
    
    .navbar {
        padding: 0.5rem 1rem; /* Adjust navbar padding for smaller screens */
    }
    
    .nav-item .nav-link {
        font-size: 14px; /* Adjust link font size for better visibility */
    }
}

@media (max-width: 480px) {
    .h1 {
        font-size: 28px; /* Further reduce font size for extra small screens */
    }
    
    .logo{
        width: 130%;
    }
}
